body {
    background-color: lavender;
    font-family: sans-serif;
}

footer {
  background-color: black;
  border: solid;
  border-color: purple;
  color: white;
}

nav a:hover {
  color:#32673f;
}
