h1 {
  border: double;
  background-color: beige;
}

body {
    background-color: lavender;
    font-family: sans-serif;
}

li {
  list-style-type: none;
}

img {
  height: 150px;
}

footer {
  background-color: black;
  color: white;
  border: solid;
  border-color: purple;
}


nav a:hover {
  color:#32673f;
}
